# Entornos virtuales y variables de entorno
env/
venv/
.env

# Compilados de Python
__pycache__/
*.pyc
*.py[cod]
*.so

# IDEs y configuración local
.vscode/
.idea/
.DS_Store

# Archivos de notas locales 
nota.tex
crear-issues-nerve-community.sh
setup_github.sh
crear-issues-python-general.sh
discord-bot/data/
*.db
*.sqlite3
discord-bot/backups/
discord-bot/
Cosas tontas que use*/
scratch/